
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}


.history{
    margin-top: 50px;
    margin-bottom: 90px;
}

h3{
    
    margin-top: 20px;
}

.container{
    padding-bottom: 80px;
}

footer{
    background-color:#D4D4D4;
    padding-top: 10px;
}

.jumbotron{
    background-color: #957DAD;
    color: white;
}



.navbar-dark {
     background-color: #512DA8;
}

nav > .container{
    padding-bottom: 0;
}

.card{
    margin-top: 0;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}